<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate class="form-inline">
      <div class="form-group col-sm-12 col-md-6">
        <label class="col-ms-12 col-md-6 col-form-label">Seleccione tipo de producto</label>
        <select type="select" class="form-control" id="ddlTipoProducto" placeholder="Tipo de porducto"
          formControlName="tipoProducto" #tipoProducto>
          <option *ngFor="let tipoProducto of tipoProductos" value={{tipoProducto.id}}>
            {{tipoProducto.descripcion}}
          </option>
        </select>
        <div
          *ngIf="angForm.controls['tipoProducto'].invalid && (angForm.controls['tipoProducto'].dirty || angForm.controls['tipoProducto'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['tipoProducto'].errors.required">
            Seleccione el tipo de producto.
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <button (click)="getProductos()" type="button" [disabled]="angForm.pristine || angForm.invalid"
          class="btn btn-primary">Consultar productos</button>
      </div>      
      <div class="form-group col-sm-12 col-md-12">
        <br/>
      </div>
      <div class="form-group col-sm-12 col-md-12" >
        <div class="row" *ngFor="let producto of productos">
          <div class="col">
            <div class="text-center">
              <img class="center" alt="" src="{{producto.urlImg}}" width="100px" height="100px" >
            </div>
            <label>{{producto.nombre}}</label>
            <input type="text" class="form-control" placeholder="Cantidad">
            <input id="chkProducto_'{{index}}'" type="checkbox" class="form-control">
          </div>          
        </div>       
      </div>
      <div class="form-group text-right col-sm-12 col-md-12">
          <button class="btn btn-primary" (click)="confimarCotizacion()" type="submit">Agregar a cotizacion</button>
        </div>
    </form>
  </div>
</div>