<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="frmAgregarACotizacion" novalidate class="form-inline">
      <ng-template matStepLabel>Agragar a cotizacion</ng-template>
      <div class="form-group col-sm-12 col-md-6">
        <label class="col-ms-12 col-md-6 col-form-label">Seleccione tipo de producto</label>
        <select type="select" class="form-control" id="ddlTipoProducto" placeholder="Tipo de porducto"
          formControlName="tipoProducto" #tipoProducto>
          <option *ngFor="let tipoProducto of tipoProductos" value={{tipoProducto.id}}>
            {{tipoProducto.descripcion}}
          </option>
        </select>
        <div
          *ngIf="frmAgregarACotizacion.controls['tipoProducto'].invalid && (frmAgregarACotizacion.controls['tipoProducto'].dirty || frmAgregarACotizacion.controls['tipoProducto'].touched)"
          class="alert alert-danger">
          <div *ngIf="frmAgregarACotizacion.controls['tipoProducto'].errors.required">
            Seleccione el tipo de producto.
          </div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <button (click)="getProductos()" type="button" [disabled]="frmAgregarACotizacion.pristine || frmAgregarACotizacion.invalid"
          class="btn btn-primary">Consultar productos</button>
      </div>
      <div class="form-group col-sm-12 col-md-12">
        <br />
      </div>
      <div class="form-group col-sm-12 col-md-12">
        <div class="row" *ngFor="let producto of productos; let i = index">
          <div class="col">
            <div class="text-center">
              <img class="center" alt="" src="{{producto.urlImg}}" width="100px" height="100px">
            </div>
            <label>{{producto.nombre}}</label>
            <div class="form-group col-sm-12 col-md-6">
              <input type="number" class="form-control" placeholder="Cantidad">
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <input id="chkProducto_{{i}}" type="checkbox" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="text-right col-sm-12 col-md-12">        
        <button mat-button matStepperNext class="btn btn-primary" type="button">Agregar a cotizacion</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="frmConfirmarCotizacion">
    <form [formGroup]="frmConfirmarCotizacion" class="form-inline">
      <ng-template matStepLabel>Confirmar cotizacion</ng-template>
      <div class="form-group col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let productoAFacturar of productosAFacturar; let i = index">
                <td>{{i}}</td>
                <td>{{productoAFacturar.nombre}}</td>
                <td>{{productoAFacturar.descripcion}}</td>
                <td>{{productoAFacturar.cantidad}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group col-md-6">
          <div class="form-group col-md-12">
            <textarea class="form-control col-ms-12 col-md-12" id="txtObservaciones" formControlName="observaciones" #observaciones rows="3" placeholder="Observaciones"></textarea>
          </div>
          <div class="form-group col-md-12"><br /></div>
          <div class="form-group col-md-12">
            <label class="col-form-label col-ms-12 col-md-6" for="fechaVencimiento">Fecha vencimiento</label>
            <input type="date" class="form-control col-ms-12 col-md-6" id="txtFechaVencimiento" data-type="datepicker" formControlName="fechaVencimiento" #vechaVencimiento placeholder="Fecha de vencimiento" />
          </div>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="submit">Realizar cotizacion</button>
        </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>